html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.btn-custom {
    background-color: #ffc107;
    color: #fff;
    font-weight: 600;
    border: none;
}

    .btn-custom:hover {
        background-color: #e0a800;
        color: #fff;
    }

input.form-control:focus {
    border-color: #ffc107;
    box-shadow: 0 0 5px rgba(255,193,7,0.5);
}